
.app-container {
  background: linear-gradient(135deg, var(--primary) 0%, var(--dark) 100%);
  min-height: calc(100dvh - var(--hf-height)) !important;
  width: 100%;
  max-width: var(--max-width, 1440px);
  margin: 0 auto;
}

/* Remove scrollbar arrows/buttons */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Optional: cleaner scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f5b041;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(122, 27, 69, 0.8);
}